@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #fafafa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  margin: 0 auto;
  color: #444;
  font-family: 'Poppins', sans-serif;
  font-size: 1vmax;
  text-align: center;
}

header, footer {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to right, #00b09b, #96c93d);
  border-radius: 15px;
  color: ghostwhite;
}

header h1 {
  font-size: 200%;
  margin: 0;
  padding-top: 10px;
}

header p {
  font-size: 110%;
  padding-bottom: 10px;
  margin-top: 0;
}

figcaption {
/*  font-size: larger;*/
  margin-top: 15px;
}

img, blockquote {
  box-shadow: 2px 6px 7px 3px black;
}

#image1-div, #image2-div {
  margin: 50px auto;
}

#image1 {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

#img-rogan {
  max-width: 75%;
}

ul {
  text-align: left;
}

li {
  margin: 1em 0;
  padding: 15px;
  max-width: 65ch;
}

blockquote {
  float: right;
  max-width: 40%;
  background-color: #427AA1;
  color: #EBF2FA;
  font-size: 200%;
  padding: 15px;
  line-height: 1.4;
  border-radius: 10px;
}

footer {
  padding: 1em;
  font-size: larger;
}

footer a {
  color: #444;
}
